{% extends "base.html" %}
{% block imports %}
    {{ import('scripts/submissions.js') }}
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-start">
        <h1>Bots</h1>
    </div>
    <div class="px-3 d-none d-sm-block">
        <p class="lead">
            Here you can see active bots and make new ones.
        </p>
    </div>
    <!-- Bots -->
    {% macro bot(id, name, date) -%}
        <tr>
        <td>
            ID: {{ id }}
        </td>
        <td>
            Name: {{ name }}
        </td>
        <td>
            Date: {{ date.strftime('%d/%m %H:%M') }}
        </td>
        <td>
            <a href="#" onclick="submissions.deleteBot({{ id }})">Delete</a>
        </td>
        </tr>
    {%- endmacro %}
    {% macro all_bots(items) -%}
        {% for item in items %}
            {{ bot(item.id, item.name, item.date) }}
        {% endfor %}
    {%- endmacro %}
    <form action="/enable_js" id="bot-form" method="GET">
        <label for="repo" class="text-right">Bot URL:</label>
        <input type="url" class="form-control" id="repo" placeholder="https://github.com/your/repo" required>
        <label for="bot-name" class="text-right">Bot Name:</label>
        <input type="text" class="form-control" id="bot-name" placeholder="Random Bot" required>
        <button type="submit" class="btn btn-primary bot-submit-button">Submit</button>
    </form>
    <div class="justify-content-start justify-content-sm-center d-flex">
        <div id="submission-error-msg"
                 class="m-1 m-sm-3 p-2 bg-danger text-white text-center border border-danger rounded"
                 style="display:none">
                Something went wrong.
        </div>
    </div>
    <table>
    {{ all_bots(bots) }}
    </table>

    <script>
        submissions.registerElements();
    </script>
{% endblock %}
