{% extends "base.html" %}
{% block imports %}
    {{ import('scripts/leaderboard.js') }}
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center justify-content-sm-start">
        <h1>Leaderboard</h1>
    </div>
    <div class="px-3 d-none d-sm-block">
        <p class="lead">
            The current standings
        </p>
    </div>


    <div class="d-none d-sm-flex justify-content-center py-3 px-lg-2 mx-lg-3 mx-xl-5" id="overTimeChartContainer">

    </div>
    <div class="d-flex justify-content-center">
        {{ client_template("leaderboard-template", "/api/get_leaderboard", "#leaderboard") }}
        <div class="d-flex flex-column py-2 flex-grow-1" id="leaderboard">
            <div class="text-center">Loading the leaderboard...</div>
        </div>
    </div>
{% endblock %}
