$bg-main: #FFFFFF;
$text-color: #333;
$footer-link-color: #084036;

html, body {
  height: 100%;
  flex-shrink: 0;
}

#react-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.content {
  flex: 1 0 auto;
}

.fill {
  width: 100%;
  height: 100%;
}

.footer {
  flex-shrink: 0;
}

.footer-link {
  max-height: 24px;
  color: $footer-link-color;
}

.footer-link:hover {
  opacity: 0.5;
}

#overTimeChart {
  max-width: 800px;
  max-height: 400px;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
