@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";

:root {
  --bg-main: 255, 255, 255;
  --text-color: #333;
  --footer-link-color: #084036;
}

html, body {
  height: 100%;
  flex-shrink: 0;
}

#react-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.content {
  flex: 1 0 auto;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .absolute#{$infix}-bottom-left {
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
      right: auto;
    }
    .absolute#{$infix}-bottom-right {
      position: absolute;
      top: auto;
      left: auto;
      bottom: 0;
      right: 0;
    }
    .absolute#{$infix}-top-left {
      position: absolute;
      top: 0;
      left: 0;
      bottom: auto;
      right: auto;
    }
    .absolute#{$infix}-top-right {
      position: absolute;
      top: 0;
      left: auto;
      bottom: auto;
      right: 0;
    }
  }
}

.footer {
  flex-shrink: 0;
}

.hand {
  cursor: pointer;
}

.max-width-center {
  max-width: 1000px;
  width: 100% !important;
}

.footer-link {
  max-height: 24px;
  color: var(--footer-link-color);
}

.footer-link:hover {
  opacity: 0.5;
}

.nickname-text {
  color: var(--gray);
}

#leaderboard {

}

.leaderboard-entry-child-container {

}

.leaderboard-position {
  width: 100px;
  text-align: center;
}

.leaderboard-name {
  flex-grow: 1;
}

.leaderboard-wins {
  width: 80px;
  text-align: center;
}

.leaderboard-losses {
  width: 80px;
  text-align: center;
}

.leaderboard-draws {
  width: 80px;
  text-align: center;
}

.leaderboard-spacer {
  width: 30px;
}

.leaderboard-score {
  width: 100px;
  text-align: end;
}

.leaderboard-submission {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 20px;
  margin: 5px;
}

.leaderboard-user-submission {
  border-width: 6px;
  border-style: double;
  border-color: #2D7DD2;
  margin: 0;
}

.leaderboard-bot-submission {
  border-width: 3px;
  border-style: solid;
  border-color: #90001C;
  margin: 3px !important;
}

.leaderboard-other-submission {
  border-color: var(--bs-secondary);
}

#overTimeChartContainer {
}

#overTimeChart {
  max-width: 800px;
  max-height: 400px;
}

.submission-index {
  width: 50px;
  text-align: left;
}

.submission-url {
}

.submission-date {
}

.submission-active-switch {
}

.submission-rounded {
  border-radius: 14px !important;
  border-width: 0;
}

.submission-entry {
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  margin: 4px;
  opacity: 0.5;
}

.submission-entry-active {
  opacity: 1.0;
}

.submission-entry-selected {
  border-radius: 20px;
  border-width: 6px;
  border-style: double;
  border-color: var(--bs-secondary);
  margin: 0;
}

.submission-entry-testing {
  background: rgba(54, 126, 235, 0.3);
}

.submission-crash-report {
  background: rgba(var(--bg-main), 0.5);
  border-radius: 20px;
}

.testing-stripes {
  background: repeating-linear-gradient(35deg,
          rgba(54, 126, 235, 0.1),
          rgba(54, 126, 235, 0.1) 10px,
          rgba(54, 126, 235, 0.4) 10px,
          rgba(54, 126, 235, 0.4) 20px);
  background-size: 200% 200%;
  animation: barberpole 5s linear infinite;
}

.submission-entry-invalid {
  background: rgba(235, 54, 54, 0.3);
}

.invalid-stripes {
  background: repeating-linear-gradient(45deg,
          rgba(235, 54, 54, 0.1),
          rgba(235, 54, 54, 0.1) 10px,
          rgba(235, 54, 54, 0.4) 10px,
          rgba(235, 54, 54, 0.4) 20px);
}

.submission-submit-button {
  max-width: 100px;
  width: 100% !important;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
