{% extends "base.html" %}
{% block content %}
    <h2>
        About CUWAIS
    </h2>
    <div class="px-3">
        <p class="lead">
            (Name subject to change)
        </p>
        <p>
            The <b>Cambridge University Warring AI Society</b> is a new society trial run.
            Each holiday we will set a game (e.g: Chess) for competitors to create the
            best <b>original</b> AI to compete in.
            This CUWAIS website then operates as an ongoing scoreboard where you can submit your AIs to battle
            against other user's submissions, live!
            You will be able to make as many submissions as you want and see statistics on how each performs, allowing
            you to fine-tune your AI over the course of the competition.
        </p>
        <p>
            Join our <a href="https://discord.gg/mtpmA2MH5u">Discord</a> for constant updates as the
            competition progresses!
        </p>
    </div>
    <h2>
        Game Rules
    </h2>
    <div class="px-3">
        <p>
            The game to solve is called <a href="https://en.wikipedia.org/wiki/Fischer_random_chess">Chess960</a>.
            It was invented by Bobby Fischer and is a simple variant of chess where the starting positions
            of all of the pieces are randomised behind the pawns (with a few constraints).
        </p>
        <p>
            You must attempt to repeatedly return winning moves from the positions that your AI is given,
            without running out of time on the chess clock.
            As you win more games your score will increase,
            so when you think you have a better version of your repository make a submission
            so you can start earning more points!
        </p>
        <p>
            If you run out of time, make an invalid move, use up your memory allocation or crash
            then you forfeit the game, so we make sure that your AI can play at least one 'healthy'
            game before it is released into the pool of other submissions. This means you don't have to
            worry about testing your AI too thoroughly before submission. Just get Coding to get Winning!
        </p>
    </div>
    <h2>
        How to Compete
    </h2>
    <div class="px-3">
        <ul>
            <li>
                To start competing, log in using your <b>Cambridge Email</b> through Google.
                A CUWAIS account will then be created automatically for you and you will be logged in.
            </li>
            <li>
                You then need to clone the <a href="https://github.com/AI-Wars-Soc/chess-ai">Github Repository</a> for
                the signatures of the methods that you need to implement.
            </li>
            <li>
                Once logged in, you can <a href="/submissions">make a submission</a>, where your repository will be
                cloned onto CUWAIS servers and continuously paired up with other user's submissions.
            </li>
            <li>
                You can then regularly <a href="/leaderboard">check the leaderboard</a> to see how you stack up against
                other competitors, or <a href="/submissions">check your submission statistics</a> to see a more detailed
                analysis of your AI's performance!
            </li>
        </ul>
    </div>
    <h2>
        Requirements
    </h2>
    <div class="px-3">
        <ul>
            <li>
                All submissions must be written in Python and be self-contained. The VM that runs your code is not
                networked so you cannot rely on external websites, scripts or libraries.
            </li>
            <li>
                Your program has access to:
                <ul>
                    <li>
                        Numpy, Scipy, TensorFlow, Keras, Theano, Lasagne
                    </li>
                    <li>
                        1GB of RAM
                    </li>
                    <li>
                        1/2 of a (~3GHz) CPU core
                    </li>
                    <li>
                        a chess clock style timeout passed as a parameter (starting at 10s)
                    </li>
                    <li>
                        full read access to your files in your repository
                    </li>
                </ul>
                (this is all subject to change).
            </li>
            <li>
                You do <b>NOT</b> have access to a GPU, the internet, multiple cores, an FPGA, etc.
                Therefore:
                <ul>
                    <li>
                        Your program should be completely stateless.
                        The game is not guaranteed to start from a usual starting position
                    </li>
                    <li>
                        You should attempt to use as close to the above footprint as possible.
                        Your AI will be terminated if you go over the given limits
                    </li>
                    <li>
                        Do not try to break out of the sandbox provided
                    </li>
                    <li>
                        Do not try to read the opponent's code or moves pre-emptively
                    </li>
                    <li>
                        Do not process 'out of turn'
                    </li>
                    <li>
                        Do not be multi-threaded or in anyway be concurrent
                    </li>
                    <li>
                        Do not search for extra processors or processing devices
                    </li>
                </ul>
                There are plenty of safeguards in place to stop you doing this accidentally, but if you are found to
                have attempted to gain access to the results database, the VM host or the network you will be
                disqualified from all future events. If you find such a vulnerability please report it responsibly.
            </li>
        </ul>
    </div>
    <h2>
        Advice
    </h2>
    <div class="px-3">
        <p class="lead">
            (To be added to as the competition progresses)
        </p>
        <ul>
            <li>
                Start with minor improvements over the base AI.
                If your AI makes an invalid move you immediately concede
                so ensure that you completely understand the API before doing anything crazy
            </li>
            <li>
                If you run out of time you immediately concede,
                so ensure that any searches have adjustable depths for if your game takes a while
            </li>
            <li>
                The amount of processing power given to you is too small to evaluate a large neural net.
                Don't just throw compute at the problem - be smart!
            </li>
        </ul>
    </div>
    <h2>
        Good Luck!
    </h2>
{% endblock %}
