{% macro import(filename) %}
    {% set url = url_for('static', filename=filename) %}
    {% set uri = sri(url) %}
    <script src="{{ url + "?" + uri }}"
            integrity="{{ uri }}"
            crossorigin="anonymous"></script>
{% endmacro %}
{% macro css(filename, id) %}
    {% set id = id|default('css'+filename) %}
    {% set url = url_for('static', filename=filename) %}
    {% set uri = sri(url) %}
    <link href="{{ url + "?" + uri }}"
          integrity="{{ uri }}"
          rel="stylesheet"
          crossorigin="anonymous"
          id="{{ id }}">
{% endmacro %}
{% macro client_template(template, data_url, div_id) %}
    {% set filename = "client-templates/" + template + ".mustache" %}
    {% set url = url_for('static', filename=filename) %}
    {% set uri = sri(url) %}
    <script>
        templates.add_template("{{ url + "?" + uri }}", "{{ data_url }}", "{{ div_id }}");
    </script>
{% endmacro %}

<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Bootswatch -->
    <link rel="stylesheet" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN"
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" crossorigin="anonymous"
          id="bootswatch-dark">
    <link rel="stylesheet" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK"
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" crossorigin="anonymous"
          id="bootswatch-light">
    <link rel="stylesheet" crossorigin="anonymous"
          id="bootswatch-active">

    {{ css('css/style-dark.css', 'style-dark') }}
    {{ css('css/style-light.css', 'style-light') }}
    <link rel="stylesheet" crossorigin="anonymous"
          id="style-active">
    {{ css('css/style.css') }}

    <!-- Font Awesome js -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"
          media="none" onload="if(media!='all')media='all'">
    <noscript>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">
    </noscript>

    <!-- Handlebars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
            integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
            crossorigin="anonymous"></script>


    <!-- Cookies -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <!-- jQuery, jQuery UI, Bootstrap and popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.1/dist/chart.min.js"
            integrity="sha256-46Gpp0CTbty4I5zSmmVwZ+AGsNXfYGKYp6w6AEr2MBc="
            crossorigin="anonymous"></script>

    <!-- CUWAIS Scripts -->
    {{ import('scripts/template.js') }}
    {{ import('scripts/style.js') }}

    {% if user is none %}
        {{ import('scripts/login.js') }}

        <!-- Google login -->
        <script src="https://apis.google.com/js/platform.js?onload=Login.googleInit" async defer></script>
        <meta name="google-signin-client_id"
              content="{{ config_file.google_client_id }}">
        {% if config_file.allowed_email_domain is not none %}
            <meta name="google-signin-hosted_domain" content="{{ config_file.allowed_email_domain }}">
        {% endif %}
    {% endif %}

    {% block imports %}{% endblock %}

    <title>{{ config_file.soc_name.upper() }} - {{ page_name.replace("_", " ").title() }}</title>
</head>
<body>
<!-- Navbar (top) -->
{% macro nav_item(text, icon, active=False, link='#', data_toggle=None) -%}
    <li class="nav-item{{ ' active' if active }}">
        <a class="nav-link"
                {% if data_toggle %} data-toggle="{{ data_toggle }}" {% endif %}
           href="{{ link }}">
            {{ text }}
            {% if icon %}
                &nbsp;
                <i class="{{ icon }}"></i>
            {% endif %}
        </a>
    </li>
{%- endmacro %}
{% macro nav(items) -%}
    {% for item in items %}
        {{ nav_item(item.text, item.icon, item.active, item.link, item.data_toggle) }}
    {% endfor %}
{%- endmacro %}
<div id="navbar">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            {% block navbar_left %}
                <ul class="navbar-nav mr-auto">
                    {{ nav(l_nav) }}
                </ul>
            {% endblock %}
        </div>
        <div class="mx-auto order-0">
            {% block navbar_mid %}
                <a class="navbar-brand mx-auto" href="/">{{ config_file.soc_name.upper() }}</a>
            {% endblock %}
        </div>
        <div class="collapse navbar-collapse w-100 order-3 dual-collapse2">
            {% block navbar_end %}
                <ul class="navbar-nav ml-auto">
                    {{ nav(r_nav) }}
                </ul>
            {% endblock %}
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% block modal %}
                {% if user is none %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="card-title mb-4 mt-1">Sign in</h4>
                        <div class="d-grid gap-3">
                            <p>
                                By logging in you agree to the rules on the about page,
                                as well as allowing us to store your name and and email address.
                                You can delete your account at any time.
                            </p>
                            <div class="d-flex justify-content-center">
                                <script>
                                    function onGoogleSignIn(e) {
                                        return Login.onGoogleSignIn(e);
                                    }

                                    function onGoogleFail(e) {
                                        return Login.onLoginFail(e);
                                    }
                                </script>
                                <div class="g-signin2" data-width="300" data-height="50" data-longtitle="true"
                                     data-onsuccess="onGoogleSignIn" data-onfailure="onGoogleFail"
                                     data-theme="light">
                                </div>
                            </div>
                            <div id="login-error-msg"
                                 class="p-2 bg-danger text-white text-center border border-danger rounded"
                                 style="display:none">
                                Something went wrong. Please try again or let someone know.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>

<div id="react-root"></div>

<div class="content mx-lg-2 px-xl-5">
    <div class="d-flex flex-column mx-md-3 p-2 p-sm-5">
        {% block content %}{% endblock %}
    </div>
</div>

<div class="footer">
    <nav class="navbar navbar-light bg-secondary">
        <div class="mx-auto order-0">
            {% block footer %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        &copy; 2020-2021 Joe O'Connor
                    </li>
                    <li class="nav-item text-center">
                        Join our <a href="https://discord.gg/mtpmA2MH5u" class="footer-link">Discord</a>
                    </li>
                </ul>
            {% endblock %}
        </div>
    </nav>
</div>

</body>
</html>
