{% extends "base.html" %}
{% block imports %}
    {{ import('scripts/me.js') }}
{% endblock %}
{% block content %}
    <div class="flex-column justify-content-center justify-content-sm-start">
        <h1>{{ user.real_name }}</h1>
        <h3 class="nickname-text">({{ user.nickname }})</h3>
    </div>
    <div class="px-3 d-none d-sm-block">
        <p class="lead">
            This is your settings page
        </p>
    </div>
    <div class="flex-column justify-content-center justify-content-sm-start px-3 m-lg-3">
        <div class="flex-row">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="realNameSwitch"
                       onchange="changeNameVisibility(this)" {% if user.display_real_name %}checked{% endif %}>
                <label class="custom-control-label" for="realNameSwitch">Display your real name on the
                    leaderboard</label>
            </div>
        </div>
        <div class="flex-row">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="darkModeSwitch"
                       onchange="changeTheme(this)">
                <label class="custom-control-label" for="darkModeSwitch">Dark Mode</label>
            </div>
        </div>
        <div class="flex-row">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal">
                Delete My Account
            </button>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccountModalLabel">Delete Your Account?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="card-title mb-4 mt-1">Are you sure you want to delete your account?</h4>
                    <div class="d-grid gap-3">
                        <p>
                            This will delete all of your submissions and will wipe any points that you have received.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="deleteAccount()">Delete My Account</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
