{% extends "base.html" %}
{% block imports %}
    {{ import('scripts/submissions.js') }}
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-start">
        <h1>Submissions</h1>
    </div>
    <div class="px-3 d-none d-sm-block">
        <p class="lead">
            Here you can see your previous submissions and make new ones.
        </p>
    </div>
    <!-- Submissions -->
    <div class="my-2 my-md-4 d-flex flex-row">
        <div class="d-flex justify-content-center w-100 w-lg-50">
            <div class="d-flex flex-column mx-lg-4 flex-grow-1" id="submissions">
                <div class="p-1">
                    <form action="/enable_js" id="submission-form" method="GET">
                        <div class="d-flex justify-content-center w-100">
                            <div class="d-flex max-width-center row">
                                <div class="col-md-2 d-none d-md-block my-auto">
                                    <label for="repo" class="my-auto text-right">Your Repository URL:</label>
                                </div>
                                <div class="col-12 col-md-8 my-auto">
                                    <input type="url" class="form-control" id="repo"
                                           placeholder="https://github.com/your/repo" required>
                                </div>
                                <div class="col-12 col-md-2 my-auto py-2 py-sm-3 py-md-0">
                                    <div class="d-flex w-100 justify-content-center justify-content-md-left">
                                        <button type="submit" class="btn btn-primary submission-submit-button">
                                            Submit
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                  id="submit-spinner" style="display: none;"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="justify-content-start justify-content-sm-center d-flex">
                        <div id="submission-error-msg"
                             class="m-1 m-sm-3 p-2 bg-danger text-white text-center border border-danger rounded"
                             style="display:none">
                            Something went wrong.
                        </div>
                    </div>
                </div>
                <div class="p-1 p-md-2">
                    {{ client_template("submissions-template", "/api/get_submissions", "#submissions-accordion") }}
                    <div id="submissions-accordion">
                        <div class="text-center">Loading your submissions...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
